@import "../../../../css/DefineColor.css";

.card {
    background-color: var(--light);
    height: 270px;
    width: 370px;
    border-radius: 20px;
    text-decoration: none;
    margin: 16px;
}

.titleOne {
    color: var(--primary-light);
    font-size: 20px;
    margin: 10px 15px 0 15px;
    font-weight: 700;
}

.hr {
    color: #DCDCDC;
}

.titleTwo {
    color: var(--warn-dark);
    font-size: 16px;
    font-weight: 700;
    margin: 10px 15px 0 15px;
}

.description {
    font-size: 14px;
    font-weight: 500;
    color: var(--warn-light);
    margin: 15px 15px 0 15px;
}