@import "./DefineColor.css";



.form {
    color: var(--light);
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-container {
    margin-bottom: 80px;
}

.label {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.input {
    padding-left: 10px;
    margin-top: 5px;
    width: 540px;
    height: 30px;
    border-radius: 10px;
    border: solid var(--light) 1px;
}

.button {
    margin-top: 20px;
    background-color: var(--primary-dark);
    color: var(--light);
    height: 40px;
    width: 140px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    border: solid var(--primary-dark) 1px;
}